.footer {
  /* background: linear-gradient(to bottom, #000000, #0a0f24, #1a2a6c); */
  background-color: white;
  padding: 60px 60px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 40px;
}

.footer-about {
  flex: 1 1 300px;
}

.footer-about h2 {
  color: #00e1ff;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.footer-about p {
  color: black;
  line-height: 1.6;
  font-size: 0.95rem;
}

.footer-links {
  flex: 1 1 200px;
}

.footer-links h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #00e1ff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #00e1ff;
}

.footer-contact {
  flex: 1 1 250px;
}

.footer-contact h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #00e1ff;
}

.footer-contact p {
  color: black;
  font-size: 0.95rem;
  margin-bottom: 0px;
}

.footer-contact a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-contact a:hover {
  color: #00e1ff;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  color: #aaa;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .footer {
    padding: 30px;
  }
  .footer-container {
    flex-direction: column;
    text-align: left;
    padding-bottom: 20px;
    gap: 20px;
  }

  .footer-about,
  .footer-links,
  .footer-contact {
    flex: 1 1 100%;
  }

  .footer-about h2 {
    font-size: 1.3rem;
  }
  .footer-bottom p {
    text-align: left;
    margin: 0;
  }
}
